/*  -----------------------  TYPES  -----------------------  */

body {
    background-color: #FAEDE8;
    margin: 0px;
    padding: 0px;
    border: 0px;
    max-width: 100vw;
    overflow-x: hidden;
}

/*  -----------------------  IDS  -----------------------  */

#header, #header img, head {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: auto;
    border: 0px;
    padding: 0px;
    margin: 0px;
    position: relative;
    
}

/* ------ Horizontal Menu ------ */
#horizontal-menu {
    width: 100vw;
    height: auto;
    background-color: #e6a9b4;
    color: white;
    text-align: center;
    padding: 0px;
    font-weight: bold;
    font-size: 29px;
    margin-top: -4px;
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: auto;
    white-space: nowrap;
}

#horizontal-menu a {
    line-height: 55px;
    color: white;
    padding: 0px 18px;
    padding-bottom: 4px;
    padding-top: 2px;
    justify-content: center;
    text-decoration: none;
}

#horizontal-menu .selected a {
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    padding: 4px 8px;
    margin: 0px 10px;
    padding-top: 2px;
    background: linear-gradient(90deg, 
     rgba(255,255,255,0) 0%,
     rgba(228, 193, 199, 0.3) 15%,
     rgba(228, 193, 199, 0.4) 50%,
     rgba(228, 193, 199,0.3) 85%,
     rgba(251,251,251,0) 100%);
}

/* ------ Side Menu ------ */
aside {
    position: fixed;
    left: 0px;
    display: flex;
    float: left;
    height: 100vh;
    top: 0;
    z-index: 2;
    overflow: hidden;

    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: 0px solid transparent;
}


#side-menu-icon img {
    height: 25px;
    width: 25px;
    padding: 15px 12px;
    background-color:goldenrod;

    cursor: pointer;
}

#side-menu-icon {
    background-color:rgb(252, 192, 41);
    height: 100vh;
}

#side-menu {
    left: 0;
    color: white;
    background-color: gold;
    width: 0px;
}

#side-menu ul li {
    list-style: none;
    width:fit-content;
    overflow: hidden;
    padding-right: 40px;
    font-size: 20px;
}

/* ------ User bar settings ------ */

#user-bar {
    background-color:rgb(202, 158, 44);
    margin: 0px;
    border: 0px;
    display: flex;
}

#user-bar h5 {
    line-height: 55px;
    margin: 0px;
    border: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-style: bold;
}

#user-bar img {
    display: flex;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
    padding-left: 20px;
}

/* ------ Footer ------ */
#footer {
    text-align: center;
}

/*  -----------------------  CLASSES  -----------------------  */

.content {
    background-color: white;
    width: 80%;
    padding: 10px 5px;
}

.content p, .content h2 {
    padding-left: 35px;
    padding-right: 30px;
}

.center {
    margin: auto;
}