#header, #header img, head {
    width: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 156px;
}

#footer {
    text-align: center;
}

#menu {
    width: 100%;
    height: 30px;
    background-color: #E6A9B4;
    color: white;
    text-align: center;
    padding: 0px;
    padding-top: 8px;
    padding-bottom: 17px;
    font-weight: bold;
    font-size: 30px;
    max-width: 100%;
    margin-top: -4px;
    position: sticky;
    top: 0;
    z-index: 1;
}

#menu a {
    color: white;
    padding: 18px;
    justify-content: center;
    
}

body {
    background-color: #FAEDE8;
    margin: 0px;
}

.content {
    background-color: white;
    width: 90%;
}

.content p, .content h2 {
    padding-left: 35px;
    padding-right: 30px;
    max-width: 100%;
}

.center {
    margin: auto;
    padding: 10px;
  }